Ice.Default.Locator=IceGrid/Locator:tcp -h node1.local -p 4061
IceGrid.Node.Name=grid-{{ grains.host }}
IceGrid.Node.Endpoints=tcp
IceGrid.Node.Data=/var/lib/ice/icegrid/node
IceGrid.Node.Output=/var/lib/ice/icegrid/node

Ice.UseSyslog=1
Ice.ProgramName=icegridnode
IceGrid.Node.Trace.Replica=2

Ice.ChangeUser=ice

Ice.StdOut=/var/lib/ice/icegrid/node/stdout.txt
Ice.StdErr=/var/lib/ice/icegrid/node/stderr.txt

Ice.Warn.UnusedProperties=1
